{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block content %}
	{% if user.is_authenticated %}
	<form method="POST" action="{% url 'logout' %}">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Logout</button>
</form></h1>
	<h2>You are viewing {{recipe}} </h2>
	<h3>Author: {{recipe.author_name}}</h3>
	<ul>
		{% for ingredient in recipe.ingredients.all %}
		<li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }} </li>
		{% endfor %}
	</ul>
	{% else %}
	<p>You are not logged in.<p>
	{% endif %}
{% endblock %}